$white: white;
$black: #0b0d0e;
$navbar-text-color: rgb(34, 34, 34);
$nav-border-color: rgb(204, 204, 204);
$nav-search-textbox-border-color: rgb(202, 202, 202);
$search-input-bg: rgb(247, 247, 247);

$elevation-low: 0px 0px 1px rgba($black, 0.1), 0px 2px 4px rgba($black, 0.13);
$elevation-mid: 0px 0px 2px rgba($black, 0.1), 0px 4px 8px rgba($black, 0.13);
$elevation-high: 0px 1px 4px rgba($black, 0.1), 0px 8px 16px rgba($black, 0.13);

$padding-space: 15px;
$city-padding: 5px;
